.custom-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    margin-bottom: 20px;
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-bottom-margin {
    margin-bottom: 3%;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg, #4a235a, #000080);
    color: white;
    padding: 10px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

.custom-card:hover .details {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
