.valores-nueva-container {
  margin-top: 10px;
  position: relative;
  height: 100%;
  margin: 0% auto 30%;
}

.valores-nueva-row {
  position: relative;
}

.tarjeta-personalizada {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  width: 100%;
  height: 500px;
}

.card1 {
  left: 15%;
  background-color: hwb(276 46% 23%);
}

.card2 {
  left: 0%;
  margin-top: 100px; 
  background-color: #aed6f1 ;
}

.tarjeta-personalizada:hover {
  transform: scale(1.05);
  z-index: 1;
}

.input-linea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  transition: border-color 0.3s;
  background-color: transparent;
  color: black;
  box-shadow: none;
  appearance: none;
}

.input-linea:focus {
  border-bottom: 2px solid #00ccff;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.input-linea:focus-visible {
  outline: none;
  box-shadow: none;
}

.titulo-tarjeta {
  font-size: 1.5rem;
  text-align: center;
}

.texto-tarjeta {
  font-size: 0.9rem;
}

.boton-facebook {
  background-color: #3b5998; /* Fondo azul de Facebook */
  border: none; /* Sin borde */
  color: white; /* Texto blanco */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 10px; /* Espaciado superior */
  transition: background-color 0.3s; /* Efecto de transición */
}

.boton-facebook:hover {
  background-color: #2d4373; /* Color más oscuro al pasar el mouse */
}

.boton-gmail {
  background-color: white; /* Fondo blanco */
  border: 1px solid #ccc; /* Borde gris claro */
  color: black; /* Texto negro */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 10px; /* Espaciado superior */
  transition: background-color 0.3s; /* Efecto de transición */
}

.boton-gmail:hover {
  background-color: #f1f1f1; /* Color gris claro al pasar el mouse */
}
