*
body{
    background-color: black;
}
.text-justify {
    text-align: justify; 
    margin: 2% 50% 0% 0%;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
.no2 {
    text-align: justify; 
    margin: 0% 50% 0% 0%;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
.outline-light{
    margin: 0% 50% 0% 0%;

}
.text-primary{
    text-align: justify; 
    margin: 0% 50% 0% 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: aliceblue !important;
    
}

.fondo {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url('/src/img/banners.jpg');
    margin: 10px; 
    padding: 0; 
    height: 40vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
  #descripcion {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    color: white; 
    text-align: center;
  }
  
  .text-justify {
    text-align: center; 
  }
#Comentarios{
    margin: 5% 10% 5% 10%;
}

#popover-basic{
    background-color: black;
}
.text{
    color: white;
}
#Acerca{
    margin: 0% 0% 0% 0%;
}
