/* Estilos de la caja de búsqueda */
.caja {
    width: 300px;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 5px 10px;
}

.caja:focus {
    background-color: rgba(0, 0, 0, 0.9);
    outline: none;
    color: #fff;
}

.caja::placeholder {
    color: rgb(255, 255, 255);
}

/* Título de las categorías */
.categorias-title {
    color: white;
}

.checkbox-section h5 {
    margin-bottom: 15px;
}

.checkbox-section {
    margin-top: 20px;
}


.opciones label {
    color: #fff;
}


.boton {
    margin-right: 25px;
    background: linear-gradient(135deg, #773381, #1b1ba4);
}



.form-check-input:checked {
    background-color: #6a0dad; 
    border-color: #6a0dad; 
}
