.valores-grid {
    padding: 20px;
  }
  
  .valores-item {
    margin-bottom: 20px;
  }
  
  .valores-card {
    background-image: url('https://www.istockphoto.com/vector/innovatiove-solution-concepts-on-white-background-gm1531567283-525207227?utm_source=pixabay&utm_medium=affiliate&utm_campaign=SRP_illustration_sponsored&utm_content=https%3A%2F%2Fpixabay.com%2Fes%2Fillustrations%2Fsearch%2Finovacion%2F&utm_term=inovacion'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen al tamaño del card */
    background-position: center; /* Centra la imagen */
    color: #ffffff; /* Texto en blanco */
    position: relative; /* Para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Para ocultar el pseudo-elemento fuera del card */
  }
  
  .valores-card::before {
    content: ''; /* Crea un pseudo-elemento */
    position: absolute; /* Posicionamiento absoluto */
    top: 0; /* Alinea a la parte superior */
    left: 0; /* Alinea a la izquierda */
    right: 0; /* Alinea a la derecha */
    bottom: 0; /* Alinea a la parte inferior */
    background: rgba(0, 0, 0, 0.5); /* Sombreado negro con opacidad */
    z-index: 1; /* Coloca el sombreado detrás del contenido */
  }
  
  .card-body {
    position: relative; /* Para asegurar que el contenido esté sobre el sombreado */
    z-index: 2; /* Coloca el contenido encima del sombreado */
  }
  