.valores-nueva-container {
    margin-top: 10px;
    position: relative;
    height: 0%;
    margin: 0% auto 30%; /* Margen superior 0%, inferior 30%, automático a los lados */

}

.valores-nueva-row {
    position: relative;
    height: 250px;
}

.tarjeta-personalizada {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: absolute;
    width: 250px;
    height: 250px;

}

.tarjeta-personalizada:nth-child(1) {
    left: 0%;
}

.tarjeta-personalizada:nth-child(2) {
    left: 15%;
}

.tarjeta-personalizada:nth-child(3) {
    left: 30%;
}

.tarjeta-personalizada:nth-child(4) {
    left: 45%;
}

.tarjeta-personalizada:nth-child(5) {
    left: 60%;
}

.tarjeta-personalizada:nth-child(6) {
    left: 75%;
}

.tarjeta-personalizada:hover {
    transform: scale(1.05);
    z-index: 1;
}

.tarjeta-personalizada img {
    transition: transform 0.3s ease;
    height: 200px;
    object-fit: cover;
}

.titulo-tarjeta {
    font-size: 1.2rem;
}

.texto-tarjeta {
    font-size: 0.9rem;
}

.titulo-valores {
    text-align: center;
    font-size: 4rem;
    background: linear-gradient(90deg, rgba(255, 0, 150, 1) 0%, rgba(0, 204, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0% auto 5%; /* Margen superior 0%, inferior 30%, automático a los lados */
    width: fit-content;
}
