*
.logo {
    height: 40px; 
    width: 40px;  
    margin: 5% 5% 5% 0%;
}
.font-bold{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.nav{
    margin: 0%
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

/* Estilos para el modo claro */
.light-mode {
    background-color: white; /* Fondo en modo claro */
    color: black; /* Texto en modo claro */
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: black; 
    color: white; /* Texto en modo oscuro */
}


  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.logo {
    height: 40px; 
    width: 40px;  
    margin: 5% 5% 5% 0%;
}

.font-bold {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.nav {
    margin: 0%;
    transition: background-color 0.5s, color 0.5s;
}

.nav-link {
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #3b82f6;
}

.navbar-brand {
    color: #3b82f6;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #1e40af;
}

.light-mode .nav {
    background-color: white;
}

.light-mode .nav .nav-link {
    color: black;
}

.light-mode .navbar-brand {
    color: #3b82f6;
}
.light-mode .text{
  color: black;
}
.light-mode .font-bold{
  color: black;
}

.dark-mode .nav {
    background-color: #343a40;
}

.dark-mode .nav .nav-link {
    color: white;
}

.dark-mode .navbar-brand {
    color: white;
}

.dark-mode-toggle-btn {
    background-color: #E2E8F0;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle-btn:hover {
    background-color: #CBD5E0;
}

.dark-mode-toggle-btn:focus {
    outline: none;
}

