/* Estilos generales del Dashboard */
.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

.dashboard-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.topbar {
    text-align: center;
    margin-bottom: 20px;
    color: white; 
}

.light-mode .dashboard-card {
    padding: 20px;
    background: linear-gradient(135deg, #ff6699, #ff3366);
    color: white; 
    border-radius: 15px;
    text-align: center;
    height: 120px;
}

.dark-mode .dashboard-card {
    padding: 20px;
    background: linear-gradient(135deg, #773381, #1b1ba4);
    color: white; 
    border-radius: 15px;
    text-align: center;
    height: 120px;
}

.dashboard-card h5 {
    color: white; 
    margin-bottom: 10px;
}

.dashboard-card h2 {
    font-weight: bold;
    color: white; 
}

.main-content {
    margin: 20px 0;
}

canvas {
    background-color: transparent;
    color: white;
}

.btn {
    background-color: transparent;
    color: white;
    transition: background-color 0.3s, color 0.3s; 
}

.btn:hover {
    background-color: white; 
    color: #000000; 
}

.btn:focus {
    outline: none; 
}

/* Estilos del Modal */
.modal-content {
    background: linear-gradient(135deg, #773381, #1b1ba4);
    color: white; 
}


.modal-content input {
    opacity: 60%;
    color: rgb(0, 0, 0);
    border: none;
}

.modal-header {
    border-bottom: none; 
}

.modal-title {
    font-weight: bold; 
}

.modal-body {
    background-color: transparent; 
}

.modal-footer {
    border-top: none; 
}

.list-group-item {
    border: none; 
    padding: 10px; 
    transition: background-color 0.3s; 
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Modo responsivo */
@media (max-width: 768px) {
    .dashboard-wrapper {
        text-align: center;
    }

    .dashboard-card {
        margin-bottom: 20px;
        width: 100%; 
    }

    .dashboard-card h5, .dashboard-card h2 {
        text-align: center;
    }

    .main-content .row {
        justify-content: center;
    }

    canvas {
        max-width: 100%;
        height: auto;
    }
}
