.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

.dashboard-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.topbar {
    text-align: center;
    margin-bottom: 20px;
    color: white; 
}

.dashboard-card {
    padding: 20px;
    background: linear-gradient(135deg, #773381, #1b1ba4);
    color: white; 
    border-radius: 15px;
    text-align: center;
    height: 120px;
    
}

.dashboard-card h5 {
    color: white; 
    margin-bottom: 10px;
}

.dashboard-card h2 {
    font-weight: bold;
    color: white; 
}

.main-content {
    margin: 20px 0;
}

canvas {
    background-color: transparent;
    color: white;
}

.btn {
    background-color: transparent;
    border: 2px solid white; 
    color: white;
    transition: background-color 0.3s, color 0.3s; 
}

.btn:hover {
    background-color: white; 
    color: #000000; 
}

.btn:focus {
    outline: none; 
}



.modal-content {
    background: linear-gradient(135deg, #773381, #1b1ba4);
    border-radius: 10px; 
    color: white; 
}

.modal-content input{
    opacity: 60%;
    color: rgb(0, 0, 0);
    border: none;
}
.modal-header {
    border-bottom: none; 
}

.modal-title {
    font-weight: bold; 
}

.modal-body {
    background-color: transparent; 
}

.modal-footer {
    border-top: none; 
}

.btn {
    background-color: transparent; 
    border: 2px;
    color: white; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn:hover {
    background-color: white; 
}

.btn:focus {
    outline: none; 
}

.list-group-item {
    border: none; 
    padding: 10px; 
    transition: background-color 0.3s; 
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

